.pagination {
    display: inline-block;
  }
  
  .page-item {
    color: rgb(160, 157, 157);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .page-item a{
    color: rgb(160, 157, 157);
    float: left;
    padding: 8px 16px;
    text-decoration: none;  
  }

  .page-item a.active {
    background-color: #02AAB0;
    color: white;
  }
  
  .page-item a:hover:not(.active) {background-color: #00CDAC; color: #fff;}

  .page-item a {
    border-radius: 5px;
  }
  
  .page-item a.active {
    border-radius: 5px;
  }

  .page-item a {
  transition: background-color .3s;
}