ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 0px;

}

/* list item css */
.list-item{
    border: 1px solid lightgrey;
    background:#fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    transition: 1s;
    
}

/* list item css ends here */


/* details css */
.details{
    /* padding-left: 15px; */
    padding-top: 5px;
}

.details h3{ 
    margin: 5px 0px;
    text-transform: capitalize;
    color: #455963;
}

.details p{
    margin: 5px 0px;
    text-transform: lowercase;
    color: #666;
}
/* details css ends */


/* options css  */
.options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.options button {
    border: none;
    padding: 5px;
    border-radius: 8px;
}


.delete{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 10px;
}

.fas.fa-star{
    color:rgb(175, 175, 17);
}
.favourite:hover {
    color:rgb(175, 175, 17);
}

.fa-trash-alt{
    color: rgb(214, 14, 14);
}

.delete:hover{

    background-color: rgb(214, 14, 14);
}

.delete:hover .fa-trash-alt{
    color: white;
}
/* options css ends here */