.header{
   background-color: #ddd; 
   margin: 0;
   width: 100%;
   box-shadow: 1px 15px 25px -5px rgba(0,0,0,0.3);
   border-top-right-radius: 15px ;
   border-top-left-radius: 15px ;
    
}

.header-title{
    color: #555;
    padding: 20px 20px;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}